*.zip
banned-ips.json
banned-players.json
cache/*
commands.yml
help.yml
libraries/*
logs/*
ops.json
permissions.yml
plugins/BentoBox/database_backup/*
plugins/CoreProtect/database.db
plugins/LuckPerms/translations/*
plugins/WorldEdit/.archive-unpack/*
whitelist.json
usercache.json
version_history.json
versions/*
plugins/DynamicShop/Log/*
plugins/Essentials/userdata/*
plugins/Essentials/usermap.csv
plugins/Multiverse-Inventories/players/*
World/advancements/*
World/playerdata/*
World/stats/*
